<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>MON APP</title>
    <link rel="stylesheet" href="{% static 'css-projet/style.css' %}">
     <link rel="stylesheet" href="{% static 'css-projet/bootstrap.min.css' %}">

</head>
<body>
<header>
 {% include 'app/navbar.html' %}
</header>
<div class="container">

<h1> Bienvenue sur le site des <span style="color:red">fruits </span>  </h1>


</div>
<script src="{% static 'css-projet/bootstrap.bundle.min.js' %}"> </script>
  {% include 'app/footer.html' %}
</body>
</html>