{% extends 'base.html' %}
{% block content %}
<div class="table-responsive">
<table class="table table-sm table-dark">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Login</th>
        <th scope="col">TotalContributions</th>
        <th scope="col">Engagements</th>
        <th scope="col">Avatar</th>
      </tr>
    </thead>
    <tbody>
      {% for user in data.users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.contributionsCollection.contributionCalendar.totalContributions }}</td>
        <td>{{ user.contributionsCollection.totalCommitContributions }}</td>
        <td><img src="{{ user.avatarUrl }}" width="50" height="50"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% endblock %}.