*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Russo One, Arial;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    padding: 30px 0;
    font-size: 40px;
}
.container-global {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    /* background: pink; */
}
.question-block {
    padding: 15px 25px 25px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.question-block h4 {
    padding: 10px 0;
    font-size: 22px;
}

.question-block label {
    font-size: 20px;
}

.question-block input[type='radio'] {
    transform: scale(1.8);
    margin: 10px;
}

.resultats {
    padding: 25px;
    margin: 10px 0px 70px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.resultats h2 {
    text-align: center;
}
.aide {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.note {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

form button {
    border: none;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.2s ease-in-out;
}

form button:hover {
    background-color: lightblue;
}

.echec {
    animation: echec 0.3s ease-in-out;
}

@keyframes echec {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(5px);
    }
    66% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}