{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="container mt-5 mb-5">
    <section class="wrapper">
      <div class="container">
        <div class="grid-cols-2">
          <div class="grid-item-1">
            <h1 class="main-heading">
              Bienvenue sur <br> <span>SIBY AGENCE</span>
              
            </h1>
            <p class="info-text">
              Créez un site Web magnifique et moderne avec des composants flexibles.
            </p>

            <div class="btn-group">
				 <a href="{% url 'home' %}" class="btn btn-primary"><button class="btn view_more_btn">
                Visitez
              </button></a>



            </div>
          </div>
			
          <div class="grid-item-2">
            <div class="team_img_wrapper">
              <img src="{% static './img/team.svg' %}" alt="team-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}