<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz JS</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
    
  <h1>Quizz Culture générale !</h1>

  <div class="container-global">

    <form class="form-quizz">

          <div class="question-block">
            <h4>Qui est l'empereur de France le 2 décembre 1804 ? </h4>
            
            <div>
                <input type="radio" id="Clovis" name="q1" value="a"checked>
                <label for="Clovis">Clovis</label>
            </div>
            
            <div>
                <input type="radio" id="Lincoln" name="q1" value="b">
                <label for="Lincoln">Abraham Lincoln</label>
            </div>
            
            <div>
                <input type="radio" id="Bonaparte" name="q1" value="c">
                <label for="Bonaparte">Napoleon Bonaparte</label>
            </div>
        </div>

        <div class="question-block">
            <h4>Quelle est la date d'indépendance des États-Unis ?</h4>
            <div>
                <input type="radio" id="date1" name="q2" value="a" checked>
                <label for="date1">4 juillet 1776</label>
            </div>
            
            <div>
                <input type="radio" id="date2" name="q2" value="b">
                <label for="date2">18 avril 1856</label>
            </div>
            
            <div>
                <input type="radio" id="date3" name="q2" value="c">
                <label for="date3">30 juin 1925</label>
            </div>
        </div>

        <div class="question-block">
            <h4>La chute de l'empire Romain se situe en ?</h4>
            <div>
                <input type="radio" id="date4" name="q3" value="a" checked>
                <label for="date4">15 ap. J.-C.</label>
            </div>
            
            <div>
                <input type="radio" id="date5" name="q3" value="b">
                <label for="date5">395 ap. J.-C.</label>
            </div>
            
            <div>
                <input type="radio" id="date6" name="q3" value="c">
                <label for="date6">-740 av. J.-C.</label>
            </div>
        </div>


        <div class="question-block">
            <h4>Quelle est la capitale de la Slovénie ?</h4>

            <div>
                <input type="radio" id="Ljubljana" name="q4" value="a" checked>
                <label for="Ljubljana">Ljubljana</label>
            </div>
            
            <div>
                <input type="radio" id="Belgrade" name="q4" value="b">
                <label for="Belgrade">Belgrade</label>
            </div>
            
            <div>
                <input type="radio" id="Bratislava" name="q4" value="c">
                <label for="Bratislava">Bratislava</label>
            </div>
        </div>


        <div class="question-block">
            <h4>Combien d'habitants compte l'Irlande en 2020 ?.</h4>
            <div>
                <input type="radio" id="m1" name="q5" value="a"
                    checked>
                <label for="m1">1,365 Million</label>
            </div>
            
            <div>
                <input type="radio" id="m2" name="q5" value="b">
                <label for="m2">21 Millions</label>
            </div>
            
            <div>
                <input type="radio" id="m3" name="q5" value="c">
                <label for="m3">4,9 Millions</label>
            </div>
        </div>

        <button type="submit">Validez vos choix !</button>
    </form>

    <div class="resultats">
      <h2>Cliquez sur valider pour voir les résultats.</h2>
      <p class="aide"></p>
      <p class="note"></p>
    </div>
  </div>



<script src="{% static 'app.js' %}"></script>
</body>
</html>