{% extends 'base.html' %}
  {% block content %}
<div class="p-5" style="text-align: center;" class="container">
  <h1 class="p-5">Générateur de mot de passe</h1>
  <p class="p-3">Votre mot de passe:</p>
  <span class="border border-2 p-2" style="font-size: x-large;">{{ passwords }}</span>
  <p></p>
  <p><a href="{% url 'passwords_list' %}"><button class="form-control-sm">Afficher mes mots de passes</button></a></p>
  <p><a href="{% url 'home' %}"><button class="form-control-sm">Back</button></a></p>
</div>

{% endblock %}