{% extends 'base.html' %}
  {% block content %}
<div class="p-5" style="text-align: center;" class="container">
  <h1 class="p-5">Générateur de mot de passe</h1>
  {% if motdepasse %}
   
    {% for motdepasses in motdepasse%}
        <p>{{ motdepasses }}</p>
    {% endfor %}
   
{% else %}
    <p>No saved passwords.</p>
{% endif %}

  <p class="p-3">Votre mot de passe:</p>
  <span class="border border-2 p-2" style="font-size: x-large;">{{ passwords }}</span>
  <p></p>
  <p><a href="{% url 'home' %}"><button class="form-control-sm">Back</button></a></p>
</div>

{% endblock %}