{% extends 'base.html' %}
  {% block content %}
  {% if passwords_list %}
  <div class="table-responsive text-center">
  <table class="table">
      <thead>
          <tr>
              
              <th>Mot de passe</th>
          </tr>
      </thead>
      <tbody>
        {% for password in passwords_list %}
        <tr>
            
            <td>{{ password }}</td>
        </tr>
    {% endfor %}
      </tbody>
  </table>
</div>
{% else %}
  <p >Aucun mot de passe généré pour le moment.</p>
{% endif %}
<p class="text-center"><a href="{% url 'home' %}"><button class="form-control-sm">Back</button></a></p>
{% endblock %}