<!doctype html>
{% load static %}
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css-app/register.css' %}">
 </head>
 <body>
 <form action="" method="post" enctype="multipart/form-data">
 {% csrf_token %}
  <div class="form">
{% for message in messages %}
<h1 style="color: green;"> {{ message }}</h1>


{% endfor %}
   <div class="title">
    Entrez votre nouveau mot de pass
   </div>
      <div class="input-container ic1">
    {{ form}}

           <button type="submit" class="submit" name="Update Password">submit</button>
   </div>


  </div>
 </form>
 </body>
</html>
