{% extends 'base.html' %}
{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title"> Todo list</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="add-items d-flex"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Modifier</button> </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}